<body>
    <header>
        <h1>Bekijk foto's van jouw buurt door de jaren heen!</h1>
    </header>
    <main>
        <section >
            <div id="map">
                <svg width="782" height="855">
                    <%# Create all street visual representations in SVG %>
                    <%
                        for (let i = 0; i < pageData.streetsData.length; i++) {
                    %>
                    <%-     
                        pageData.streetsData[i].area.svgElement
                    %>
                    <% 
                        } 
                    %>
                </svg>

                <img usemap="#streets-map" src="images/map.png" alt="Map">
                <map name="streets-map">
                    <%# Create all street selection area's on the map. %>
                    <%
                        for (let i = 0; i < pageData.streetsData.length; i++) {
                    %>
                    <%-     
                        pageData.streetsData[i].area.areaElement
                    %>
                    <% 
                        } 
                    %>
                    <!-- <area shape="poly" coords="0,0,50,0,50,50,0,50" alt="street name" href="left.html"> -->
                </map>
            </div>
            <footer>
                
                <details>
                    <summary>Bediening</summary>
                    <ul>
                        <li>Klik / Tap op een straat voor meer informatie.</li>
                        <li>Dubbelklik / Dubbeltap op de kaart om een nieuw gebied in te laden.</li>
                    </ul>
                </details>
            </footer>
        </section>
        <article id="map-information" class="mobile-information-hidden">
            <ul>
                <%# Show information about the streets. %>
                <%
                    if (pageData.photoData != undefined) {
                %>
                <%-     
                    pageData.photoData
                %>
                <%
                    } else {
                %>
                    <p>No photo information available on this street!</p>
                <%
                    }
                %>
            </ul>
        </article>
    </main>
</body>